# SPDX-FileCopyrightText: 2025-2026 Jakub Travnik <jakub.travnik@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.venv/
.pytest_cache/
.ruff_cache/
.ty/
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/
